/*
0-600 phone
600-900 tablet portrait
900-1200 tablet ladnscape
1200-800 is where our normal styles apply
1800+ big desktop


    $breakpoint argument choices:
    -phone
    -tab-port
    -tab-land
    -big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 120.1em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #1e5d69;
  color: #fff;
}

::selection {
  background: #1e5d69;
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1e5d69;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e5d69;
  letter-spacing: 2px;
}

.heading-secondary--white {
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1e5d69;
}

.heading-quartiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1e5d69;
}

.paragraph {
  font-size: 1.3rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .2s;
  transition: -webkit-transform .2s, -webkit-box-shadow .2s;
  transition: transform .2s, box-shadow .2s;
  transition: transform .2s, box-shadow .2s, -webkit-transform .2s, -webkit-box-shadow .2s;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after, .btn:focus::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--green {
  background: -webkit-gradient(linear, left top, right top, from(#1e5d69), to(#0092ae));
  background: linear-gradient(to right, #1e5d69, #0092ae);
  color: #fff;
}

.btn--green::after {
  background: -webkit-gradient(linear, left top, right top, from(#1e5d69), to(#0092ae));
  background: linear-gradient(to right, #1e5d69, #0092ae);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}

.card {
  width: 100%;
  -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  background: #fff;
}

.card__picture {
  background-size: cover;
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.card__picture--1 {
  background-image: url(../../img/img-sea.jpg);
}

.card__picture--2 {
  background-image: url(../../img/img-snow.jpg);
}

.card__picture--3 {
  background-image: url(../../img/img-forest.jpg);
}

.card__heading {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #1e5d69;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem 1.5rem 0;
}

.card__details {
  padding: 2.5rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card--blue {
  background: #1e5d69;
}

.card--blue .card__heading {
  color: #fff;
}

.card--blue .card__details ul li {
  color: #fff;
}

.card--blue .card__details ul li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 56.25em) {
  .card {
    height: auto;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__details {
    padding: 1rem 3rem;
  }
}

.feature-box {
  background: #fff;
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s ease, -webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease, -webkit-box-shadow .3s ease;
  transition: transform .3s ease, box-shadow .3s ease;
  transition: transform .3s ease, box-shadow .3s ease, -webkit-transform .3s ease, -webkit-box-shadow .3s ease;
}

@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}

.feature-box__icon {
  margin-bottom: 2rem;
}

.feature-box__text {
  font-size: 1.3rem;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
  -webkit-box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.2);
}

.footer {
  background: #2d4e54;
  padding-top: 7rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
}

.footer__links li a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin: 5rem 0;
}

.footer__social a {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.footer__social a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__copyright {
  background: #1b373c;
  padding: 1.7rem 3rem;
}

.footer__copyright .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer__copyright .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
}

.footer__copyright .container .copy {
  color: #fff;
  font-size: 1.2rem;
}

.container {
  max-width: 126rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

nav {
  position: fixed;
  top: 0;
  background: #1e5d69;
  width: 100%;
  z-index: 99;
  padding: 3rem 0;
  -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav .container .hamburger {
    display: block;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: transparent;
    z-index: 2;
    position: relative;
    overflow: hidden;
  }
  nav .container .hamburger .menu__icon {
    position: absolute;
    width: 35px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  nav .container .hamburger .menu__line {
    position: absolute;
    left: 0;
    background-color: #fff;
    height: 4px;
    width: 100%;
    border-radius: 100rem;
    pointer-events: none;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  nav .container .hamburger .menu__line--1 {
    top: 0;
    -webkit-transition: top 0.2s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out;
    transition: top 0.2s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.2s ease-in-out 0.3s;
    transition: transform 0.3s ease-in-out, top 0.2s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out;
  }
  nav .container .hamburger .menu__line--1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 100rem;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.1s ease-in-out 0.2s;
    transition: background-color 0.3s ease, -webkit-transform 0.1s ease-in-out 0.2s;
    transition: transform 0.1s ease-in-out 0.2s, background-color 0.3s ease;
    transition: transform 0.1s ease-in-out 0.2s, background-color 0.3s ease, -webkit-transform 0.1s ease-in-out 0.2s;
  }
  nav .container .hamburger .menu__line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-transition: opacity 0s ease-in-out 0.3s;
    transition: opacity 0s ease-in-out 0.3s;
  }
  nav .container .hamburger .menu__line--3 {
    bottom: 0;
    -webkit-transition: opacity 0s ease-in-out 0.3s, bottom 0.2s ease-in-out 0.3s;
    transition: opacity 0s ease-in-out 0.3s, bottom 0.2s ease-in-out 0.3s;
  }
  nav .container .hamburger.open .menu__line--1 {
    top: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s linear 0.3s;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s linear 0.3s;
    transition: top 0.3s ease-in-out, transform 0.3s linear 0.3s;
    transition: top 0.3s ease-in-out, transform 0.3s linear 0.3s, -webkit-transform 0.3s linear 0.3s;
  }
  nav .container .hamburger.open .menu__line--1:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.1s ease-in-out 0.3s;
    transition: -webkit-transform 0.1s ease-in-out 0.3s;
    transition: transform 0.1s ease-in-out 0.3s;
    transition: transform 0.1s ease-in-out 0.3s, -webkit-transform 0.1s ease-in-out 0.3s;
  }
  nav .container .hamburger.open .menu__line--2 {
    opacity: 0;
    -webkit-transition: opacity 0s ease-in-out 0.3s;
    transition: opacity 0s ease-in-out 0.3s;
  }
  nav .container .hamburger.open .menu__line--3 {
    bottom: 8.5px;
    opacity: 0;
    -webkit-transition: bottom 0.3s ease-in-out, opacity 0s ease-in-out 0.3s;
    transition: bottom 0.3s ease-in-out, opacity 0s ease-in-out 0.3s;
  }
}

nav .container .nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

nav .container .nav-links .desktop-d-none {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav .container .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    background-color: #1e5d69;
    top: 0;
    left: 105vw;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    padding: 12rem 0;
  }
  nav .container .nav-links .desktop-d-none {
    display: block;
  }
}

nav .container .nav-links.open {
  left: 0;
}

nav .container .nav-links li {
  position: relative;
}

nav .container .nav-links li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.3rem;
  right: 100%;
  height: 2px;
  border-radius: 100rem;
  background: #fff;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}

nav .container .nav-links li:hover::before {
  right: 0;
}

nav .container .nav-links li a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  nav .container .nav-links li a {
    font-size: 3rem;
  }
}

nav .container .nav-search-container {
  position: relative;
}

@media only screen and (max-width: 768px) {
  nav .container .nav-search-container {
    display: none;
  }
}

nav .container .nav-search-container::before {
  content: "";
  position: absolute;
  background: url(../../img/search.png);
  background-size: cover;
  width: 16px;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

nav .container .nav-search-container .nav-search {
  background: transparent;
  padding-left: 2.5rem;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: inherit;
  -webkit-transition: border-bottom .3s ease, width .3s ease;
  transition: border-bottom .3s ease, width .3s ease;
  border-bottom: 1px solid transparent;
  width: 9.3rem;
}

nav .container .nav-search-container .nav-search:focus {
  outline: none;
  border-bottom: 1px solid #fff;
  width: 15rem;
}

@media only screen and (max-width: 768px) {
  nav .container .nav-search-container .nav-search {
    font-size: 3rem;
    width: 15.5rem;
  }
  nav .container .nav-search-container .nav-search:focus {
    outline: none;
    border-bottom: 1px solid #fff;
    width: 20rem;
  }
}

nav .container .nav-search-container .nav-search::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

nav .container .nav-search-container .nav-search:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

nav .container .nav-search-container .nav-search::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

nav .container .nav-search-container .nav-search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

nav .container .nav-search-container .nav-search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

nav .container .nav-search-container .nav-search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

#section-about {
  background: #f6f6f6;
  padding: 15rem 0 25rem;
}

#section-about .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#section-about .container .first-col {
  padding-right: 6rem;
}

@media only screen and (max-width: 768px) {
  #section-about .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #section-about .container .first-col {
    padding-right: 0;
  }
  #section-about .container img {
    margin-top: 5rem;
  }
}

#section-features {
  padding: 10rem 0 20rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#0093af), to(#c1d4d4d2)), url(../../img/img-bg-adventure.jpg);
  background: linear-gradient(to right bottom, #0093af, #c1d4d4d2), url(../../img/img-bg-adventure.jpg);
  background-size: cover;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  margin-top: -10rem;
}

#section-features > * {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

@media only screen and (max-width: 56.25em) {
  #section-features {
    padding: 10rem 0;
  }
}

#section-features .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

@media only screen and (max-width: 900px) {
  #section-features .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  #section-features .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#section-tours {
  background: #f6f6f6;
  padding: 25rem 0 9rem 0;
  margin-top: -13rem;
}

@media only screen and (max-width: 56.25em) {
  #section-tours {
    padding: 20rem 0 10rem 0;
  }
}

#section-tours .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  #section-tours .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  #section-tours .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */