@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(big-desktop){
        font-size: 75%;
    }
}

body{
    @include respond(tab-port){
        padding: 0;
    }
}

img{
    max-width: 100%;
}

::selection{
    background: $color-primary;
    color: $color-white;
}